#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 0px;
    font-family: "Gentium Book Basic", "serif";
    background-color: #7C3A2A;
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 24px;
  }
  #navBar h1 {
    width: 25%;
    font-weight: 500;
  }
  #navigation {
    display: flex;
    width: 50%;
    align-items: right;
    justify-content: space-evenly;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Pacifico", "cursive";
    font-size: 60px;
  }

.under {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Gentium Book Basic", "serif";
    font-size: 21px;
    padding: 30px;
}
.tupperware {
    position: relative;
    text-align: center;
    color: black;
    padding: 5px; 
  }
.middle {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Gentium Book Basic", "serif";
    font-size: 25px;
    font-style: italic;
}

.heroImg {
    position: relative;
    text-align:left;
    color: black;
    padding: 5px; 
}

.bottomLeft {
    position: absolute;
    top: 80%;
    left: 62px;
    font-family: "Gentium Book Basic", "serif";
    font-size: 30px;
    width: 691px;
    height: 225px;

}
